/* Navbar themeing */
.navbar-default {
  background-color: #3399ff;
  border-color: #3399ff;
}

.navbar-default .navbar-brand {
  color: #ffff66;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #3399ff;
  background-color: #ffff66;
}

.navbar-default .navbar-text {
  color: #ffff66;
}

.navbar-default .navbar-nav>li>a {
  color: #ffff66;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #3399ff;
  background-color: #ffff66;
}

.navbar-default .navbar-nav>li>.dropdown-menu {
  background-color: #3399ff;
}

.navbar-default .navbar-nav>li>.dropdown-menu>li>a {
  color: #ffff66;
}

.navbar-default .navbar-nav>li>.dropdown-menu>li>a:hover,
.navbar-default .navbar-nav>li>.dropdown-menu>li>a:focus {
  color: #3399ff;
  background-color: #ffff66;
}

.navbar-default .navbar-nav>li>.dropdown-menu>li.divider {
  background-color: #ffff66;
}

.navbar-default .navbar-nav .open .dropdown-menu>.active>a,
.navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
  color: #3399ff;
  background-color: #ffff66;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: #3399ff;
  background-color: #ffff66;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus {
  color: #3399ff;
  background-color: #ffff66;
}

.navbar-default .navbar-toggle {
  border-color: #3399ff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #ffff66;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffff66;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffff66;
}

.navbar-default .navbar-link {
  color: #ffff66;
  background-color: #3399ff;
}

.navbar-default .navbar-link:hover {
  color: #3399ff;
  background-color: #3399ff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #ffff66;
  }

  .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
    color: #3399ff;
  }

  .navbar-default .navbar-nav .open .dropdown-menu>.active>a,
  .navbar-default .navbar-nav .open .dropdown-menu>.active>a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu>.active>a:focus {
    color: #3399ff;
    background-color: #ffff66;
  }
}

/* Table Scrolling
table {
  width: 100%;
}

thead, tbody, tr, td, th {
  display: block;
}

tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

thead th {
  height: 60px;
  width: 100%;
  vertical-align: top;
  text-align: left;
}

tbody {
  height: 500px;
  overflow-y: auto;
}

thead {

}

tbody td, thead th {
  width: 6.5%;
  float: left;
}
*/
